<div class="row">
    <div class="col-12 col-md-6 col-lg-6  bottom-10">
        <p-card styleClass="ui-card-shadow">
            <p-fieldset [toggleable]="true" [collapsed]="false">
                <p-header>
                    <img src="Card" src="assets/img/about/who.jpg" class="img-card">
                </p-header>
                <ul style="list-style: none">
                    <li> <i class="fas fa-hospital-alt"></i> Líder en servicios pre hospitalarios</li>
                    <li> <i class="far fa-calendar"></i> 25 años de experiencia</li>
                    <li> <i class="fas fa-user-md"></i> Profesionalismo</li>
                    <li> <i class="fas fa-concierge-bell"></i> Servicios confiable y de calidad</li>
                </ul>

            </p-fieldset>
        </p-card>
    </div>
    <div class="col-12 col-md-6 col-lg-6 bottom-10">

        <p-card styleClass="ui-card-shadow">

            <p-fieldset [toggleable]="true" [collapsed]="true">
                <p-header>
                    <img src="Card" src="assets/img/about/valores.jpg" class="img-card">
                </p-header>
                <ul style="list-style: none">
                    <li><i class="fas fa-haykal"></i>Actitud</li>
                    <li><i class="fas fa-haykal"></i>Calidad</li>
                    <li><i class="fas fa-haykal"></i>Atención</li>
                    <li><i class="fas fa-haykal"></i>Honestidad</li>
                    <li><i class="fas fa-haykal"></i>Garantías</li>
                    <li><i class="fas fa-haykal"></i>Eficaz</li>
                    <li><i class="fas fa-haykal"></i>Confianza</li>
                </ul>

            </p-fieldset>
        </p-card>
    </div>
    <div class="col-12 col-md-6 col-lg-6 bottom-10">

        <p-card styleClass="ui-card-shadow">
            <p-fieldset [toggleable]="true" [collapsed]="true">
                <p-header>
                    <img src="Card" src="assets/img/about/mision.jpg" class="img-card">
                </p-header>
                Ser una empresa líder en servicios pre-hospitalarios, con un alto grado de profesionalismo y calidad; estando siempre a la vanguardia en tecnología y adelantos médicos, coadyuvándose la calidez, humanismo y entusiasmo de cada uno de nuestros colaboradores.
            </p-fieldset>
        </p-card>
    </div>
    <div class="col-12 col-md-6 col-lg-6 bottom-10">

        <p-card styleClass="ui-card-shadow">

            <p-fieldset [toggleable]="true" [collapsed]="true">
                <p-header>
                    <img src="Card" src="assets/img/about/vision.jpg" class="img-card">
                </p-header>
                Ser una empresa reconocida por su administración, organización y atención médica; resultado de la innovación y aplicación de sistemas, procesos y métodos amigables en todos los departamentos que conforman la empresa.
            </p-fieldset>
        </p-card>

    </div>

</div>

<br>