<div style="margin-top: 70px ">
    <div class="jumbotron" style="border-radius: 20px;">
        <div class="row">
            <div class="col-12 .col-lg-4 text-center">
                <img src="assets/img/logo.png" alt="">

            </div>
            <div class="col-12 .col-lg-4">
                <h1 class="display-4 text-center">Ambulancias Humana</h1>
            </div>
        </div>

        <p class="lead text-justify">Empresa joven que desde sus inicios se preocupó por brindar un servicio de atención médica pre-hospitalaria de urgencia y de traslado, actualmente es líder en servicios pre hospitalario con un alto grado de profesionalismo y calidad con más de
            25 años de experiencia en el mercado en servicios integrales para la salud. Nuestro principal objetivo es el proveer a nuestros afiliados y clientes, un servicio médico de urgencia y de traslado profesional, confiable y de calidad.</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
    </div>

</div>

<p-tabView class="animated fadeIn bottom-10">
    <p-tabPanel header="Urgencias Medicas">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/urgencias.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore.
                </p>
            </div>
        </div>

    </p-tabPanel>
    <p-tabPanel header="Consultas Medicas">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/consultas.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore.
                </p>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Membresías Medicas">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/membresias.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore.
                </p>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Traslados">
        <div class="row">
            <div class="col-3 text-center" style="background: #FF5722">
                <img src="assets/img/services/traslados.png" style="margin-top: 20px; margin-bottom: 20px;">
            </div>
            <div class="col-9">
                <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore. Lorem ipsum,
                    dolor sit amet consectetur adipisicing elit. Fuga iure assumenda reiciendis quam provident quod quo nulla veniam voluptas soluta, quibusdam quos ut, tempore nesciunt delectus. Harum officiis cupiditate dolore.
                </p>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

<br>