/* You can add global styles to this file, and also import other style files */

body {
    min-width: 420px;
    color: #05065d !important;
}

.navbar {
    background: rgba(244, 81, 30, .8) !important;
}

.navbar img {
    background: #ffffff !important;
    padding: 5px;
    border-radius: 5px;
    opacity: 100;
}

.navbar li a {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif !important;
    font-weight: bold !important;
    color: #ffffff !important;
}

.active {
    color: #678908 !important;
    border-bottom: 2px solid #ffffff !important;
}

.navbar-toggler-icon {
    /* background: #ffffff !important; */
    color: #ffffff !important;
}

.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-circle {
    border-radius: 100% !important;
    width: 100px !important;
}

.bottom-10 {
    margin-bottom: 30px !important;
}

#urgencias {
    margin: auto !important;
    background: red;
    padding: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 20px;
    color: #ffffff;
}

footer {
    background: rgba(244, 81, 30, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: fixed;
    border: 1px solid rgba(244, 81, 30, 1) !important;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: #333 !important;
}

footer .redes {
    font-size: 25px;
    color: #333 !important;
}

footer .redes a {
    color: #333 !important;
    text-decoration: none !important;
}

footer li {
    color: #333 !important;
    width: 100%;
    list-style: none;
}

footer .redes i {
    margin-left: 10px !important;
}

footer .info {
    line-height: 20px;
}

.pointer {
    cursor: pointer !important;
}

.ng-star-inserted {
    background: rgba(244, 81, 30, 1)!important;
    color: #05065d !important;
}

.img-card {
    max-width: 200px;
    max-height: 80px;
}

@media only screen and (max-width: 540px) {
    /* header {
        display: none;
    } */
}

@media only screen and (min-width: 890px) {
    header {
        margin-top: 124px !important;
    }
}

@media only screen and (min-width: 990px) {
    header {
        margin-top: 95px !important;
    }
}

@media only screen and (min-width: 1430px) {
    header {
        margin-top: 74px !important;
    }
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}