<footer style="margin-top 200px !important">
    <div class="row center text-center">
        <div class="col-12 col-md-6 col-lg-6  redes">
            <a href="#" pTooltip="Facebook" tooltipPosition="top"><i class="fab fa-facebook pointer"></i></a>
            <a href="#" pTooltip="Youtube" tooltipPosition="top" class="pointer"><i class="fab fa-youtube pointer"></i></a>
            <a href="#" pTooltip="Linkedin" tooltipPosition="top" class="pointer"><i class="fab fa-linkedin pointer"></i></a>
            <a href="#" pTooltip="Instagram" tooltipPosition="top" class="pointer"><i class="fab fa-instagram pointer"></i></a>
            <a href="#" pTooltip="Twitter" tooltipPosition="top" class="pointer"><i class="fab fa-twitter-square pointer"></i></a>
        </div>
        <div class="col-12 col-md-6 col-lg-6 info">
            <ul class="text-center">
                <li><i class="fas fa-phone">5682 4040\5682 4050</i> </li>
                <li><i class="fas fa-envelope"></i>ahumana@prodigy.net.mx</li>
            </ul>
        </div>
        <div class="col-12" style="color: #333333;">
            &copy; Ambulancias Humana.
        </div>
    </div>
</footer>